var Comments = React.createClass({
	render: function() {
		console.log(this.props.post); 

		var commentBoard = this.props.post.comments ? this.props.post.comments.map(function(comment){
				return (
					<Comment comment={comment} key={comment.id} />
				);
			}):null;
		return (
			<div className="comment_container">
				{ commentBoard }
			</div>
		);
	}
});